body{
    display: flex;
    flex-direction: column;
    
    
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.header{
    color: #f9faf8;
    font-size: 24px;
    background-color: #1F2937;
    font-weight: bold;

}
.footer{
    justify-content: center;
    color: #f9faf8;
    font-size: 18px;
    background-color: #1F2937;
    margin-top:auto;
}

.body{
    display: flex;
    justify-content:space-between;  
    flex-direction: column; 
    min-height:100vh;
    
}

.content-header{
    font-weight:bold;
}

.content{
    display: flex;
    background-color: #1F2937;
    color:#f9faf8;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.left-col{
    height:100px;
}

.right-col{
    height:100px;
}
.text{
    margin-bottom: 16px;
}
.content-1{
    height: 100px;
}


ul{
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    font-weight:normal;
}
a{
    text-decoration: none;
    color:#f9faf8;

}